@page "/"
@using BlazorApexCharts

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<ApexChart TItem="Order"
           Title="Order Net Value">

    <ApexPointSeries TItem="Order"
                Items="Orders"
                Name="Gross Value"
                XValue="@(e => e.Country)"
                YAggregate="@(e => e.Sum(e => e.GrossValue))"
                OrderByDescending="e=>e.Y"
                SeriesType="SeriesType.Bar"/>

    <ApexPointSeries TItem="Order"
                Items="Orders"
                Name="Net Value"
                XValue="@(e => e.Country)"
                YAggregate="@(e => e.Sum(e => e.NetValue))"
                OrderByDescending="e=>e.Y"
                SeriesType="SeriesType.Bar"/>
</ApexChart>

@code {
    string text = "Hi";
    private List<Order> Orders { get; set; } = new List<Order>() { new Order() { Country = "Germany", GrossValue = 1, NetValue = 2 } };

    class Order
    {
        public string Country { get; set; }
        public int GrossValue { get; set; }
        public int NetValue { get; set; }
    }
}
